.d-greeting__cont {
  display: none;
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {
  .d-greeting__cont {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }

  .d-greeting__side-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .d-greeting__greeting-txt {
    font-size: var(--size-2xl);
    font-weight: 600;
    color: var(--clr-accent-3);
  }

  .d-greeting__name {
    font-size: var(--size-4xl);
    font-weight: 600;
  }

  .d-greeting__title {
    font-size: var(--size-2xl);
  }

  .d-greeting__btns-cont {
    display: flex;
    gap: 0.8rem;
    margin-block-start: 1.5rem;
  }

  .d-greeting__resume-btn,
  .d-greeting__about-btn {
    font-size: var(--size-xl);
    transition: 0.15s ease-in;
  }

  .d-greeting__resume-btn:hover,
  .d-greeting__about-btn:hover {
    transform: scale(1.05);
  }

  .d-greeting__resume-btn {
    background-color: var(--clr-accent-2);
  }

  .d-greeting__about-btn {
    background-color: var(--clr-accent-1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2em;
  }

  .d-greeting__arrow-icon {
    width: 1.5em;
    min-width: 1.5em;
  }

  .d-greeting__portrait-cont {
    width: 300px;
    height: 275px;
    background-color: var(--clr-accent-2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block-start: 3rem;
    padding-block-end: 3rem;
    border-radius: 74% 26% 75% 25% / 39% 68% 32% 61%;
    overflow: hidden;
  }

  .d-greeting__portrait {
    width: 250px;
    height: 300px;
    object-fit: cover;
    scale: 1.25;
  }
}

/* lg */
@media (min-width: 1024px) {
  .d-greeting__cont {
    gap: 6rem;
  }

  .d-greeting__greeting-txt {
    font-size: var(--size-3xl);
  }

  .d-greeting__name {
    font-size: var(--size-5xl);
  }

  .d-greeting__title {
    font-size: var(--size-3xl);
  }
}

/* xl */
@media (min-width: 1280px) {
  .d-greeting__greeting-txt {
    font-size: var(--size-4xl);
  }

  .d-greeting__name {
    font-size: var(--size-6xl);
  }

  .d-greeting__title {
    font-size: var(--size-4xl);
  }

  .d-greeting__resume-btn,
  .d-greeting__about-btn {
    font-size: var(--size-2xl);
  }

  .d-greeting__portrait-cont {
    width: 400px;
    height: 366px;
  }

  .d-greeting__portrait {
    width: 300px;
    height: 360px;
    scale: 1.3;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .d-greeting__cont {
    gap: 7rem;
  }

  .d-greeting__greeting-txt {
    font-size: var(--size-5xl);
  }

  .d-greeting__name {
    font-size: var(--size-7xl);
  }

  .d-greeting__title {
    font-size: var(--size-5xl);
  }

  .d-greeting__resume-btn,
  .d-greeting__about-btn {
    font-size: var(--size-3xl);
  }
}
