/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */

.my-container {
  width: 100%;
  padding-inline-start: 0.5rem;
  padding-inline-end: 0.5rem;
  box-sizing: border-box;
  margin-block-start: 1rem;
}
